*{padding: 0; margin:0; box-sizing: border-box;}

body{
	scroll-behavior: smooth;
		overflow-x: hidden;
}
header{
	width: 100vw;
	height:90vh;
	background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('img/law2.jpeg');
	background-size: cover;
	background-position:5PX;
	position: relative;
	background-attachment: fixed;
}
nav{
	width: 100%;
	height:80px;
	background: white;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 80px;
	position:fixed;
	top:0;
	background:white;
	z-index: 1;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.logo{
	font-family: sans-serif;
	font-size:2.5em;
}
.logo span{
	color: #e74c3c;
}
.menu a{
	text-decoration: none;
	color: black;
	font-size:20px;
	
	padding: 10px 20px;
	font-family: sans-serif;

}
.menu a:first-child{
	color:#e74c3c;
}
.menu a:hover{
	color: #e74c3c;
	transition: 0.4s;
}
.icon i{
	font-size:20px;
}
.icon i:hover{
	color: #e74c3c;
}
.icon a{
	padding:10px 20px;
	background:#e74c3c;
	color:white;
	text-decoration: none;
	margin-left:30px;
	border-radius: 5px;  
}
.icon a:hover{
	background: transparent;
	border:1px solid #e74c3c;
	color: black;
	transition: 0.4s ease;
}
.h-text{
	max-width: 700px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
	text-align: center;
}
#camera{
	font-size: 40px;
	margin-bottom: 10px;
}
.h-text h1{
	font-family: sans-serif;
	font-size: 3em;
	line-height:1.5em;
}
.h-text input{
	width: 60%;
	padding: 20px;
	border-radius: 8px;
	font-size: 20px;
	border:none;
	outline: none;
}
.h-text button{
	width: 30%;
	padding:20px;
	background: #e74c3c;
	font-size: 20px;
	border:none;
	outline: none;
	color: white;
	border-radius: 8px; 
	margin-top: 30px;
}


.filter-gallery{
	padding:100px;

}


.portfolio-menu{
		text-align: center;
		margin-bottom: 20px;
	}

	
	.portfolio-item{
		width: 100%;
	}
	.portfolio-item .item{
		width: 360px ;
		height:250px;
		float: right;
		margin-bottom:50px;
		margin-right: 50px;
		position:relative;
	}
.portfolio-item .item img{
	width: 100%;
	height: 90%;
	border-radius: 8px;
}
.members{

	font-family: sans-serif;
	width: 100%;

	padding:20px 100px;
}
.member-info{
	text-align: center;

}
.member-info h1 {
	font-size: 2.5em;

}
.member-info h1 span{
	color:#e74c3c;
}
.member-card{
	text-align: center;
	padding-top: 50px;
	width: 50%;
	margin:auto;
	}

.member-card p{
	margin:20px 0px;
	line-height: 2em;
}
.member-card h2{
	margin:20px 0px;
}

.m-images{
	width: 100%;
	display: flex;
	margin: 20px 0px;
	overflow: hidden;
}
.m-images img{
	width: 200px;
	height: 200px;
	cursor: pointer;
	
	transition: 0.4s ease-in-out;
}
.m-images img:hover{
	transform: scale(1.5);
}


footer{
	background: #262626;
	color: white;
	width: 100%;

	padding: 50px 100px;
}

.newsletter{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:30px;
	border:1px solid rgba(255,255,255,0.2);
}
.newsletter>div{
	flex-basis: 50%;
}
.n-text{
	
	text-align: right;
}
.newsletter h2{
	font-size: 2em;
	font-family: sans-serif;
}
.newsletter p{
	font-size: 20px;
	margin-top: 10px;
}
.newsletter label{
	position: relative;

}
.newsletter input{
	padding: 20px;
	width: 70%;
	border-radius: 8px;
	border:none;
	outline: none;
	font-family: sans-serif;
}
.newsletter button{
	position: absolute;
	right: 0;
	padding: 20px;
	width: 30%;
	background: #e74c3c;
	color: white;
	border:none;
	outline: none;
	border-radius: 0 8px 8px 0;
}
.f-contact{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top:3em;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
.f-contact>div{
	flex-basis:20%;


}
.f-contact p{
	line-height:2em;
	font-size: 20px;
	color: grey;	
	text-align: center;
}
.f-contact p:hover{
	color: white;
}
.f-contact i{
	background: white;
	color: black;
	padding:10px;
	font-size:16px;
	margin: 20px 5px;
	border-radius: 50%;
	transition: .4s ease;
}
.f-contact i:hover{
	background: transparent;
	border:1px solid white;
	color: white;
}
.search-input .autocom-box{
	padding: 0;
	opacity: 0;
	pointer-events: none;
	max-height: 280px;
	overflow-y: auto;
  }
  
  .search-input.active .autocom-box{
	padding: 10px 8px;
	opacity: 1;
	pointer-events: auto;
  }
  
  .autocom-box li{
	list-style: none;
	padding: 8px 12px;
	display: none;
	width: 100%;
	cursor: default;
	border-radius: 3px;
  }
  
  .search-input.active .autocom-box li{
	display: block;
  }
  .autocom-box li:hover{
	background: #e66868;
  }
  .wrapper{
	max-width: 250px;
	margin: 150px auto;
  }
  
  .wrapper .search-input{
	background: #e30c0c;
	border-radius: 2px;
	position: relative;
	box-shadow: 0px 1px 5px 3px rgba(96, 6, 221, 0.12);
  }
  .disclaimer {
	font-style: italic;
	font-size: 14px;
	color: #999;
	margin-top: 20px;
	text-align: center;
}
.warning {
	font-weight: bold;
	color: red;
	text-align: center;
}

/* Add this to your CSS file to style the autocomplete list */
#autocomplete-list {
    list-style: none; /* Remove list-style (bullet points) */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

#autocomplete-list li {
    padding: 10px; /* Add padding to each suggestion item */
    cursor: pointer; /* Change cursor to pointer on hover */
    border-bottom: 1px solid #ccc; /* Add a bottom border to separate items */
}

#autocomplete-list li:last-child {
    border-bottom: none; /* Remove border from the last item */
}
footer {
	padding-top: 50px;
	padding-bottom: 30px;
	background: #161718;
	text-align: center;
}

footer .social a {
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	margin: 0 7px;
	margin-bottom: 30px;
	color: #fff;
	font-size: 32px;
	border: 1px solid transparent;
	border-radius: 80px;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-ms-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}